@font-face {
    font-family: 'Norse Bold';
    src: url('fonts/Norse-Bold.otf') format('opentype');
}

:root {
    --base-font-family: system-ui, -apple-system, 'Segoe UI', Roboto, sans-serif;
    --main-padding-x: 2.6rem;
    --ARMY-GREEN: #4E5b31;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--base-font-family);
    background-color: rgb(30, 30, 30);
}

.card-container {
    width: clamp(320px, 95vw, 1600px);
    height: 100vh;
    margin: auto;
    display: flex;
    overflow: hidden;
}

aside {
    flex: 2;
    position: relative;
    background: url(images/halie-west-25xggax4bSA-unsplash.jpg) center / cover no-repeat;
    padding-top: 13em;
    height: 100%;
}

.logo-container {
    height: 9rem;
    width: 100%;
    padding: 1em;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
}

.logo {
    margin: auto;
    height: 100%;
    color: white;
    font-size: 3rem;
    display: flex;
    align-items: center;
    font-family: 'Norse Bold', var(--base-font-family);
}

.logo > img {
    height: 100%;
    width: auto;
    object-fit: contain;
}

.logo > h1 {
    font-weight: 100;
}

.photo-credit {
    width: 100%;
    position: absolute;
    bottom: 1rem;
    text-align: center;
}

figcaption{
    font-size: 0.8rem;
    color: white;
}

figcaption > a:link,
figcaption > a:visited{
    color: inherit;
}

main {
    flex: 3;
    background-color: rgb(245, 245, 245);
    padding: 8em 0 5em;
    font-size: 1.35rem;
    height: 100%;
    overflow-y: auto;
}

.form-header {
    font-weight: 600;
    max-width: 60ch;
    padding: 0 var(--main-padding-x) 1em;
}

.form-header > p {
    padding-bottom: 1em;
}

.form-main {
    border: none;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 1em var(--main-padding-x);
}

form h2 {
    font-size: inherit;
    font-weight: 600;
    margin-bottom: 1rem;
}

.form-inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 4rem;
    padding: 0.5em 0;
}

.input-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 40%;
    max-width: clamp(250px, 100%, 300px);
}

.input-container label {
    font-size: 0.7rem;
    font-weight: 600;
    letter-spacing: 2px;
}

.input-container:has(input[required]) label::after {
    content: '*';
    color: red;
}

.input-container input {
    padding: 0.3em 0.6em;
    font-size: 1rem;
    border: 1px lightgrey solid;
    border-radius: 4px;
    width: 100%;
    height: 30px;
}

.form-actions {
    padding: 1.5em var(--main-padding-x) 2em;
}

.form-actions > button[type='submit'] {
    border: none;
    border-radius: 8px;
    background-color: var(--ARMY-GREEN);
    color: white;
    padding: clamp(0.5em, 2vh, 1em) clamp(1em, 5vw, 2.5em);
    font-size: 1rem;
    font-family: inherit;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    cursor: pointer;
}

.form-actions > button[type='submit']:active {
    box-shadow: none;
}

.login-prompt {
    padding: 0 var(--main-padding-x);
    font-size: 1rem;
    font-weight: 600;
}

.login-prompt > a:link,
.login-prompt > a:visited {
    color: var(--ARMY-GREEN);
    text-decoration: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.input-container .invalid {
    border: solid 1px crimson;
}

.error-msg {
    font-size: 1rem;
    color: crimson;
    white-space: pre-line;
}

@media (max-width: 800px) {
    .card-container {
        flex-direction: column;
    }

    .photo-credit {
        bottom: 0;
        top: 0.1rem;
    }

    .form-actions {
        text-align: center;
    }
    
    .login-prompt {
        text-align: center;
    }

    aside {
        flex: 0 0 200px;
        width: 100%;
        padding-top: 2em;
    }

    main {
        padding: 2em 1.5em;
    }
}