@font-face {
    font-family: 'Norse Bold';
    src: url('fonts/Norse-Bold.otf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, sans-serif;
    background-color: rgb(30, 30, 30);
}

.card-container {
    width: 70%;
    height: 100vh;
    margin: auto;
    display: flex;
}

aside {
    position: relative;
    width: 40%;
    background: url(images/halie-west-25xggax4bSA-unsplash.jpg) center / cover no-repeat;
    padding-top: 13em;
}

.logo-container {
    height: 9rem;
    width: 100%;
    padding: 1em;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
}

.logo {
    margin: auto;
    height: 100%;
    color: white;
    font-size: 3rem;
    display: flex;
    align-items: center;
    font-family: 'Norse Bold', system-ui, -apple-system, 'Segoe UI', Roboto, sans-serif;
}

.logo > img {
    height: 100%;
    object-fit: contain;
}

.logo > h1 {
    font-weight: 100;
}

.photo-credit {
    width: 100%;
    position: absolute;
    bottom: 1rem;
    text-align: center;
}

figcaption{
    font-size: 0.8rem;
    color: white;
}

figcaption > a:link,
figcaption > a:visited{
    color: inherit;
}

main {
    width: 60%;
    background-color: white;
}